.Container {
  margin: 40px 0;
}

.PageRow {
  display: flex;
  margin: 20px 0;
}

.ImproGameTitle {
  font-size: 26px;
}

.ImproGameSelect {
  width: 210px;
}

.ImproGameLongSelect {
  width: 370px;
}

.ImproGameButton {
  width: 50px;
}

@media (max-width: 600px) {
  .ImproGameTitle {
    font-size: 22px;
  }
}
