.SelectCss {
  border: 1px solid #000000;
  font-size: 18px;
  color: #18191a;
}

.SelectCss > div {
  outline: none;
  border: none;
}

.SelectOption {
  color: #18191a;
  background: #ffffff;
}

.AnimatedButton {
  height: 35px;
  width: 35px;
  margin: 0px 2px 0 0;
  border-radius: 10px;
  background-image: linear-gradient(315deg, #e2038d 1%, #a92fe7 55%);
  background-size: 400% 400%;
  animation: colormoving 6s ease infinite;
}

@keyframes colormoving {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

@media (max-width: 600px) {
  .SelectCss {
    font-size: 14px;
  }
}
