* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #18191a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1,
p,
footer,
div {
  color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
}
footer {
  position: fixed;
  bottom: 0;
  margin: 10px;
}

.MainPage {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 40px;
  border-left: 1px solid;
  border-right: 1px solid;
}
